**/*.log
**/*.md
**/*.php~
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
.env.*.local
.env.local
.env.local.php
bin/*
!bin/console
public/bundles/
var/
vendor/
